@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
}

/* ------------share style--------------------- */
:root {
    --font-color: black;
    --gradiant-color-1: #EC9F05;
    --gradiant-color-2: #FF4E00;
    --tittle-p-color: rgba(0, 0, 0, 0.9);
    --normal-p-color: rgba(0, 0, 0, 0.7);
    --p-size: 0.875rem;
    --button-text-color: #fff;
}

.contanear {
    max-width: 70%;
    margin: 0 auto;
}


/* -------------------banner section----------------- */
.banner-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.banner-tittle {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.banner-tittle h1 {
    font-size: 4rem;
    font-weight: 500;
    max-width: 90%;
    color: var(--font-color);
}

.banner-tittle p {
    font-size: var(--p-size);
    color: var(--normal-p-color);
    max-width: 355px;
    margin: 20px 0;
}

.banner-tittle button {
    border: none;
    padding: 18px 18px;
    border-radius: 6px;
    background-image: linear-gradient(to right, var(--gradiant-color-1), var(--gradiant-color-2));
    color: var(--button-text-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.banner-image {
    position: relative;
}

.banner-image img {
    width: 100%;
}
.banner-image .card{
    position: absolute;
    right: 34%;
    top: 80%;
    transform: translate(-50% -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    width: 250px;
    gap: 20px;
}
.card .icon{
    font-size: 2rem;
    color: var(--gradiant-color-1);
}
.card .card-tittle h4{
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 20px;
}
.card .card-tittle p{
    font-size: var(--p-size);
    color: var(--normal-p-color);
    margin-bottom: 20px;
}

/* ---------------------------Our Featured Products section-------------------------- */
.featured-tittle{
    margin: 0 auto;
    text-align: center;
    max-width: 540px;
}
.featured-tittle h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--font-color);
}
.featured-tittle p{
    font-size: var(--p-size);
    color: var(--tittle-p-color);
    margin: 20px 0;
    
}
.feature-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 40px 0;
}
.items{
    display: flex;
    justify-content: center;
}
.item{
    width: 250px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.item img{
    margin: 20px auto;
}
.item h4{
    font-size: 1.2rem;
    font-weight: 800;
}
.item p{
    font-size: var(--p-size);
    color: var(--normal-p-color);
    text-align: center;
    margin: 5px 15px 20px 15px;
}
/* ------------------------------Great Tea section----------------------  */
.great-tea-section{
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
}
.tea-images{
    display: grid;
    grid-template-areas: "hed1 hed2"
                         "fot1 hed2"
                         "fot1 fot2";
    justify-content: center;
    gap: 20px;
}
#boxes{
    width: 210px;
}
.box1{
    height: 150px;
    border-radius: 10px;
    background-image: linear-gradient(to left, #fff9f9, 	#ffeeee);
    grid-area: hed1;
}
.box2{
    background-color: #ffe599;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    grid-area: hed2;
}
.box3{
    background-image: linear-gradient(to right, #e3e3e3, #fff);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    grid-area: fot1;
}
.box4{
    height: 150px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #e3e3e3, #fff);
    grid-area: fot2;
}
.tea-tittle-text{
    width: 50%;
}
.tea-tittle-text h1{
    font-size: 3rem;
    font-weight: 800;
    color: var(--font-color);
    margin-bottom: 20px;

}
.tea-tittle-text p{
    font-size: var(--p-size);
    color: var(--normal-p-color);
}
.tea-tittle-text h4{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--font-color);
    margin: 20px 0;
}

/* ---------------------client section-------------------------  */
.client-section{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, var(--gradiant-color-1), var(--gradiant-color-2));
    border-radius: 10px;
}
.super-client{
    max-width: 50%;
    padding: 0 20px 0 100px;
}
.super-client h1{
    font-size: 3rem;
    font-weight: 800;
    color: var(--button-text-color);
    margin-bottom: 20px;
}
.super-client p{
    font-size: var(--p-size);
    color: var(--button-text-color);
    margin-bottom: 20px;
}
.super-client button{
    border: none;
    padding: 18px 18px;
    border-radius: 6px;
    font-size: 1rem;
    color: var(--tittle-p-color);
    background-color: var(--button-text-color);
    font-weight: 400;
    cursor: pointer;
}
.clients{
    position: relative;
}
.client img{
    position: absolute;
    top: -25px;
    border: 4px solid #fff;
    left: -25px;
    border-radius: 50%;
}
.client{
    max-width: 350px;
    background-color: var(--button-text-color);
    border-radius: 10px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.client p{
    font-size: var(--p-size);
    color: var(--normal-p-color);
    margin-top: 30px;
}
.client h4{
    font-size: 1rem;
    font-weight: 800;
    color: var(--font-color);
    margin: 20px 0 10px 0;
}
.client h3{
    font-size: 0.7rem;
    font-weight: 800;
    color: var(--normal-p-color);
}
.client-1{
    opacity: 0.5;
    margin-top: 120px;
    left: 120px;
}
.client-3{
    opacity: 0.5;
    margin-bottom: 120px;
    left: 120px;
    margin-top: 60px;
    top: 50%;
    z-index: 1;
}

.client-2{
    position: absolute;
    z-index: 10;
    top: 36%;
} 
/* --------------------------------------------Footer  section------------------------------  */
.footer-section{
    background-color: #ffd7b5;
    margin-top: 100px;
}
.footer-icon-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.footer-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-button{
    font-size: 1rem;
    
}
.footer-button button{
    border: none;
    padding: 18px 18px;
    border-radius: 6px;
    background-image: linear-gradient(to right, var(--gradiant-color-1), var(--gradiant-color-2));
    color: var(--button-text-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
}







@media  only screen and (max-width: 456px) {
    .contanear{
        max-width: 80%;
    }
    /* -------------------banner section----------------- */
    .banner-section{
        flex-direction: column;
        gap: 50px;
        margin-bottom: 100px;
    }
    .banner-tittle{
        width: 100%;
    }
    .banner-tittle h1{
        max-width: 100%;
        font-size: 3rem;
    }
    .banner-image .card{
        width: 200px;
        right: 28%;
    }
    .card .card-tittle h4{
        margin-top: 10px;
    }
    .card .card-tittle p{
        margin-bottom: 10px;
    }

    /* --------------------------Our Featured Products section--------------------------------  */
    .featured-tittle p{
        margin: 15px 0;
    }
    .feature-items{
        grid-template-columns: repeat(1, 1fr);
    }

    /* ------------------------------Great Tea section----------------------  */
    .great-tea-section{
        flex-direction: column-reverse;
        gap: 40px;
    }
    .tea-images{
        gap: 10px;
    }
    #boxes{
        max-width: 180px;
    }
    .tea-tittle-text{
        width: 100%;
    }
    .tea-tittle-text h1{
        font-size: 2rem;
    }

    /* -----------------------------client section ---------------------------- */
    .client-section{
        flex-direction: column;
    }
    .super-client{
        max-width: 100%;
        padding: 15px;
    }
    .super-client h1{
        font-size: 2rem;
    }
    .client{
        max-width: 310px;
    }
    .client-3{
        left: 0px;
        margin-bottom: 60px;
    }
    .client-1{
        left: 0px;
        margin-bottom: 60px;
    }

    /* --------------------------------Footer  section-----------------------  */
    


}

